@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*,
*::after,
*::before {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
   font-family: "Rubik", sans-serif;
}

html {
   font-size: 16px;
   padding: 20px;
}

.square {
   padding: 10px;
   background-color: #fff;
   border: 3px solid #000;
   font-weight: bold;
   cursor: pointer;
   margin-left: 10px;
}