@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::after,
*::before {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
   font-family: "Rubik", sans-serif;
}

html {
   font-size: 16px;
   padding: 20px;
}

.square {
   background-color: #fff;
   font-weight: bolder;
   cursor: pointer;
   border: 2px solid black;
   font-size: xx-large;
   width: 50px;
   height: 50px;
}

.board-row {
   width: 150px;
   display: flex;
   flex-grow: 1;
}

button > h1 {
   font-size: 24px;
}

html {
   background-color: #d0efff;
}

.container {
   border: 2px solid #000;
   width: 154px;
}

.game {
   /* background-color: navy; */
   display: flex;
   justify-content: space-between;
}

li > button {
   background: #2a9df4 ;
   padding: 0 24px;
   height: 40px;
   cursor: pointer;
   border: 0px;
   font-family: "Rubik";
   font-size: medium;
   margin-bottom: 1rem;
   border-radius: 20px;
}

li > button:hover {
   opacity: 0.8;
}